@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Manrope, sans-serif;
}

.spinning {
	animation: spinning 500ms ease-in-out;
}

.divider {
	background-image: url("/pattern-divider-desktop.svg");
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}