@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Manrope, sans-serif;
}

button:hover {
	box-shadow: 0 0 24px 0px #52ffa8;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinning {
	animation: spinning 500ms ease-in-out;
}